**/*.db
**/*.db-shm
**/*.db-wal

.nuget-packages/
.tmpbuild/

bin/
obj/
.vs/
.idea/
*.user
*.suo
appsettings.Development.json
.dotnet/
.home/
.nuget/
.tmp/
borealis-flowers.ui/wwwroot/images/florists/

